<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '/vangogh', class: 'navbar-brand', title: 'please, hire me booking.com' do %>
        <span class="logo-pre">HireMe</span><span class="logo-booking">Booking</span><span class="logo-pontocom">.com</span>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Experience', vangogh_experience_path %></li>
        <li><%= link_to 'About me', vangogh_about_path %></li>
        <li><%= link_to 'Contact', vangogh_contact_path %></li>
        <li>
          <%= link_to vangogh_profile_path do %>
            Rodrigo Quaresma <%= image_tag "vangogh/avatar.jpg", alt: "rodrigo quaresma", class: "nav-avatar" %>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
