<% content_for :head do %>
  <link rel="shortcut icon" href="assets/vangogh/booking-favicon.ico" />
  <link rel="apple-touch-icon" href="assets/vangogh/apple-touch-icon.png" />
  <%= stylesheet_link_tag    'vangogh', media: 'all' %>
<% end %>

<%= render :partial => 'navbar' %>

<div class="jumbotron profile">
  <div class="mask">
    <div class="container">
      <%= image_tag "vangogh/avatar-big.jpg", alt: "rodrigo quaresma", class: "profile-avatar" %>
      <h3>Rodrigo Quaresma</h3>
      <p class="text-center"><a href="#" class="btn btn-secundary">Contact</a></p>
    </div>
  </div>
</div>
<hr />

<%= render :partial => 'footer' %>

<% content_for :footer do %>
  <%= javascript_include_tag 'vangogh' %>
<% end %>
