<% content_for :head do %>
  <link rel="shortcut icon" href="assets/vangogh/booking-favicon.ico" />
  <link rel="apple-touch-icon" href="assets/vangogh/apple-touch-icon.png" />
  <%= stylesheet_link_tag    'vangogh', media: 'all' %>
<% end %>

<%= render :partial => 'navbar' %>
<hr />

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <%= render :partial => 'masterhead_search' %>
    </div>
    <div class="col-sm-12 col-md-8">
      <%= render :partial => 'works_list' %>
    </div>
  </div>
</div>


<%= render :partial => 'footer' %>

<% content_for :footer do %>
  <%= javascript_include_tag 'vangogh' %>
<% end %>
