<% content_for :head do %>
  <link rel="shortcut icon" href="assets/vangogh/booking-favicon.ico" />
  <link rel="apple-touch-icon" href="assets/vangogh/apple-touch-icon.png" />
  <%= stylesheet_link_tag    'vangogh', media: 'all' %>
<% end %>

<%= render :partial => 'navbar' %>

<div class="jumbotron profile">
  <div class="mask">
    <div class="container">
      <%= image_tag "vangogh/avatar-big.jpg", alt: "rodrigo quaresma", class: "profile-avatar" %>
      <h3 class="text-center">Rodrigo Quaresma</h3>
    </div>
  </div>
</div>
<hr />
<h2>show</h2>

<%= render :partial => 'footer' %>

<% content_for :footer do %>
  <%= javascript_include_tag 'vangogh' %>
<% end %>
