<hgroup class="semana" id="ch001">
	<h2>A&E</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch002">
	<h2>Animal Planet</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch003">
	<h2>AXN HD</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch004">
	<h2>Band</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch005">
	<h2>Band News</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch006">
	<h2>Band Sports</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch007">
	<h2>BBC World News</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch008">
	<h2>Bem Simples</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch009">
	<h2>Biography Channel</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch010">
	<h2>Bloomberg</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch011">
	<h2>Boomerang</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch012">
	<h2>Canal Brasil</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch013">
	<h2>Canal de las Estrellas</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch014">
	<h2>Cartoon Network</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch015">
	<h2>Cinemax</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch016">
	<h2>CNN International</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch017">
	<h2>Combate</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch018">
	<h2>Concert Channel</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch019">
	<h2>Discovery</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch020">
	<h2>Discovery HD Theather</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch021">
	<h2>Discovery Kids</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch022">
	<h2>Discovery Science</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch023">
	<h2>Discovery Turbo</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch024">
	<h2>Disney Channel</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>
<hgroup class="semana" id="ch025">
	<h2>Disney Júnior</h2>
	<%= erb :'blenbox/semana' %>
</hgroup>