<p class="hide">
  <a href="/" class="brand">
    <%= image_tag 'title-rodrigoquaresma.svg', alt: 'rodrigo quaresma' %>
    <h1 class="title hide">rodrigo quaresma</h1>
  </a>
</p>

<div class="header">
  <h1 class="header-name text-center">rodrigo quaresma</h1>
  <hr class="header-line invisible" />
  <p class="header-job">ux designer</p>
  <ul class="list-unstyled list-inline text-center">
    <li class="<%= active_tab2('projects') %>">
      <%= link_to 'projects', portfolio_index_path, class: 'projects' %>
    </li>
    <li>·</li>
    <li class="<%= active_tab2('experience') %>">
      <%= link_to 'experience', portfolio_experience_path, class: 'experience' %>
    </li>
    <li>·</li>
    <li class="<%= active_tab2('about') %>">
      <%= link_to 'about', portfolio_about_path, class: 'about' %>
    </li>
  </ul>
</div>
