<div class="container">

<div class="work-highlight hide">
  <div class="row row-nogutter">
    <div class="col-sm-6">
      <div class="work-highlight-image">
        <%= link_to portfolio_show_path(works[0][0]) do %>
          <%= image_tag works[0][4][0], alt: works[0][1] %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="work-highlight-group">
        <h3><%= link_to works[0][1], portfolio_show_path(works[0][0]) %> <small><%= works[0][2] %></small></h3>
        <p class="text-muted"><%= works[0][9] %> <%= link_to 'see more', portfolio_show_path(works[0][0]), title: works[0][1] %></p>
      </div>
    </div>
  </div>
</div>


<div class="row row-gutter-sm work-list">
  <% works.each do |work| %>
    <div class="col-xs-12 col-sm-6 col-md-4 work-list-item">
      <%= link_to portfolio_show_path(work[0]), class: "work-call" do %>
        <span class="work-list-image"><%= image_tag work[4][0], alt: work[1] %></span>
        <span class="work-list-title"><%= work[1] %></span>
      <% end %>
    </div>
  <% end %>
</div>

</div>
