<h3>video on demand</h3>
<h4>[design de interação + design gráfico]</h4>
<div class="imagem">
  <%= image_tag "now01.jpg", alt: "interface now - video on demand" %>
</div>
<p>Estava trabalhando no marketing e utilizando o design como ponte entre a área de produto e a engenharia no desenvolvimento de aplicações interativas para a TV, quando foi dado o pontapé inicial do projeto de serviço de vídeo sob demanda (VOD - video on demand) na NET, maior empresa de serviços de telecomunicações e entretenimento via cabo da América Latina. A minha sorte foi quando percebemos que as soluções de interface disponíveis no mercado não atendiam exatamente a expectativa que tínhamos. Era a deixa que eu precisava para demonstrar o potencial de trabalhar com foco no usuário e não mais na tecnologia.</p>
<p>Acredito que vender internamente o trabalho de design centrado no usuário já não é mais tão difícil e o termo "usabilidade" está na moda. Com o apoio da empresa, eu pude sentar junto com o fornecedor de desenvolvimento e praticamente desenhar a aplicação inteira. Colhemos informações usando guerrilha, montamos protótipos, fizemos teste de usabilidade com uma empresa de mercado e conseguimos aplicar a maioria das descobertas.</p>
<p>E deu certo! A facilidade de uso foi muito bem recebida e já nos 2 primeiros meses, com uma base em torno de 300 mil assinantes, o serviço teve 1,5 milhão de vídeos assistidos.</p>
<p>É um número absurdamente alto e fico orgulhoso de ter responsabilidade nisso. Acredito que meu trabalho ajudou a mostrar os benefícios do UX no desenvolvimento das aplicações que utilizamos na nossa TV.</p>
<div class="imagem">
  <%= image_tag "now01a.jpg", alt: "interface now - video on demand" %>
  <%= image_tag "now02.jpg", alt: "interface now - video on demand" %>
  <%= image_tag "now02a.jpg", alt: "interface now - video on demand" %>
  <%= image_tag "now03.jpg", alt: "interface now - video on demand" %>
  <%= image_tag "now04.jpg", alt: "interface now - video on demand" %>
  <%= image_tag "now04a.jpg", alt: "interface now - video on demand" %>
  <%= image_tag "now05.jpg", alt: "interface now - video on demand" %>
  <%= image_tag "now06.jpg", alt: "interface now - video on demand" %>
</div>
