<!DOCTYPE html>
<html lang="en">
<head>
	<%= yield :head %>
	<%= render :partial => 'header' %>
</head>
<body>
	<%= render :partial => 'navbar' %>
	
	<div class="rq-header" id="content">
		<div class="container">
			<h1>Rodrigo Quaresma</h1>
			<p>Interactive Designer</p>
		</div>
	</div>
	
	<%= render :partial => @content %>
	
	<%= render :partial => 'footer' %>
	
	<%= yield :footer %>
</body>
</html>



