<!DOCTYPE html>
<html lang="en">
<head>
	<%= yield :head %>
	<%= render :partial => 'header' %>
</head>
<body>
	<%= render :partial => 'navbar' %>
	
	<%= render :partial => @content %>
	
	<%= render :partial => 'footer' %>
	
	<%= yield :footer %>
</body>
</html>



