<table border="0" cellpadding="0" cellspacing="0" width="600">
	<tr>
		<td align="center" valign="top" width="60" style="padding-top: 15px;padding-right: 5px;padding-bottom: 40px;padding-left: 5px;border-collapse: collapse;background-color: #1a1a1a;">
			<img src="//rdstation-static.s3.amazonaws.com/images/email_mkt/t0/icon_envelope.png" height="40" width="40" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
		</td>
		<td valign="top" width="480" style="padding-left: 40px;border-collapse: collapse;padding-right: 20px;">
		
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td valign="top" style="padding-top: 40px;padding-bottom: 40px;border-collapse: collapse;">
						
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td valign="top" style="border-collapse: collapse;color: #363636;font-family: Helvetica, Arial, sans-serif;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: left;vertical-align: bottom;">
									<div style="text-align: left;">
										<a href="<%= site %>" style="color: #17488A;font-weight: normal;text-decoration: none;"><img src="/img-emails/454x75.jpg" alt="<%= company %>" border="0" style="border: none;margin: 0;padding: 0;line-height: 100%;outline: none;text-decoration: none;"></a>
									</div>
								</td>
							</tr>
						</table>
						
					</td>
				</tr>
			</table>
		
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td valign="top" width="100%" style="border-collapse: collapse;">
						
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td valign="top" style="padding-top: 0px;border-collapse: collapse;">
									
									<div style="color: #363636;font-family: Helvetica, Arial, sans-serif;font-size: 18px;line-height: 160%;text-align: left;">
										<p>Consectetur adipiscing elit</p>
										
										<h1 style="line-height: 120%; color: #363636; display: block; font-family: Helvetica, Arial, sans-serif; font-size: 48px; font-weight: normal; letter-spacing: -1px; margin-top: 40px; margin-right: 0; margin-bottom: 20px; margin-left: 0; text-align: left;">
											Novidades
										</h1>
										<p>Cras mauris magna, dignissim in blandit ac, pretium vitae lacus. Lorem amet, consectetur adipiscing elit.</p>
										<ul>
											<li><p><strong>Cras mauris magna:</strong></p><p>Donec elit erat, malesuada ac sollicitudin imperdiet, imperdiet sed leo. Morbi ut odio ante, non ultrices <a href="<%= site %>" style="color: #17488A;font-weight: normal;text-decoration: underline;">10 fringilla ac luctus in</a>. Nulla in orci in lacus gravida posuere. Sed ligula auctor sit amet, luctus at leo.</p></li>
											<li><p><strong>Lorem ipsum dolor:</strong></p><p>Morbi ut odio ante, non ultrices nibh. Nulla in orci in lacus gravida posuere. Sed ligula odio, vestibulum vel auctor sit amet, luctus at leo. Suspendisse, in scelerisque dolor. Aenean gravida imperdiet sapien.</p></li>
											<li><p><strong>Nunc interdum nibh:</strong></p><p>Nulla in orci in lacus gravida posuere. Proin sit amet dui metus, vitae imperdiet mauris. Aenean gravida imperdiet sapien, et aliquam urna iaculis at. Mauris rutrum imperdiet <a href="<%= site %>" style="color: #17488A;font-weight: normal;text-decoration: underline;">fringilla ac luctus in</a> ut tempus.</p></li>
										</ul>
										<p><span style="font-size:11px;"><em>Morbi ut odio ante, non ultrices nibh <a href="<%= site %>" style="color: #17488A;font-weight: normal;text-decoration: underline;">that</a> and id nulla est.</em></span></p>
				
										<h1 style="line-height: 150%; color: #363636; display: block; font-family: Helvetica, Arial, sans-serif; font-size: 48px; font-weight: normal; letter-spacing: -1px; margin-top: 40px; margin-right: 0; margin-bottom: 20px; margin-left: 0; text-align: left;">
											Outros
										</h1>
										<p>Onec in orci eu sem sagittis vehicula duis cursus pretium (<a href="<%= site %>" style="color: #17488A;font-weight: normal;text-decoration: underline;">tincidunt gradcidua</a>). In dictum magna sit amet tempus:</p>
										<ol>
											<li><a href="<%= site %>" style="color: #17488A;font-weight: normal;text-decoration: underline;">Sollicitudin</a><br>Nunc vel purus egestas magna scelerisque sollicitudin. In dictum magna sit amet tempus.</li>
											<li><a href="<%= site %>" style="color: #17488A;font-weight: normal;text-decoration: underline;">Imperdiet</a><br>Sed facilisis tortor eu ligula pellentesque lectus blandit feugiat laoreet vitae lectus.</li>
											<li><a href="<%= site %>" style="color: #17488A;font-weight: normal;text-decoration: underline;">Ultrices</a><br>Aliquam blandit sollicitudin ectus blandit viverra. Vivamus tincidunt gravida aliquet.</li>
										</ol>
										<p><i><span style="font-size: 11px;">Donec in orci eu sem sagittis vehicula. Metus, et porttitor <a href="<%= site %>" style="color: #17488A;font-weight: normal;text-decoration: underline;">fringilla ac luctus in</a> egestas in</span></i>
										
										<p>Um abraço,</p>
										<p><%= company %></p>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<div style="text-align: left;padding:40px 0 40px 0;">
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/facebook.gif" width="32" height="32" alt=" " border="0" />
												</a>
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/twitter.gif" width="32" height="32" alt=" " border="0" />
												</a>
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/pinterest.gif" width="32" height="32" alt=" " border="0" />
												</a>
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/tumblr.gif" width="32" height="32" alt=" " border="0" />
												</a>
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/google-plus.gif" width="32" height="32" alt=" " border="0" />
												</a>
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/linkedin.gif" width="32" height="32" alt=" " border="0" />
												</a>
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/youtube.gif" width="32" height="32" alt=" " border="0" />
												</a>
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/vimeo.gif" width="32" height="32" alt=" " border="0" />
												</a>
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/flickr.gif" width="32" height="32" alt=" " border="0" />
												</a>
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/picasa.gif" width="32" height="32" alt=" " border="0" />
												</a>
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/rss.gif" width="32" height="32" alt=" " border="0" />
												</a>
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/wordpress.gif" width="32" height="32" alt=" " border="0" />
												</a>
												<a href="#" style="text-decoration:initial;">
													<img src="/img-emails/e-mail.gif" width="32" height="32" alt=" " border="0" />
												</a>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td align="center" valign="top" width="20"></td>
	</tr>
</table>