<table cellpadding="0" cellspacing="0" border="0" width="600">
	<tr>
		<td>
			<img src="/img-emails/600x110.jpg" alt="<%= company %>" height="110" width="600">
		</td>
	</tr>
	<tr>
		<td height="10"></td>
	</tr>
	<tr>
		<td>
			<h1 style="line-height: 120%; color: #363636; display: block; font-family: Helvetica, Arial, sans-serif; font-size: 48px; font-weight: normal; letter-spacing: -1px; margin-top: 40px; margin-right: 0; margin-bottom: 20px; margin-left: 0; text-align: center;">
				eBook: Adipiscing et interdum dignissim
			</h1>
		</td>
	</tr>
</table>
<table cellpadding="40" cellspacing="0" border="0" width="600">
	<tr>
		<td>
			<div style="color: #363636;font-family: Helvetica, Arial, sans-serif;font-size: 18px;line-height: 160%;text-align: left;">
				<p>Olá,</p>
				<p>Aenean dolor massa, adipiscing eu interdum ut, volutpat nec mi. Mauris vitae accumsan dolor. Mauris adipiscing, enim nec vestibulum sodales, ligula mauris lobortis eros, vel iaculis diam libero in mauris. Ut et ipsum imperdiet purus facilisis interdum. Aliquam erat volutpat. Morbi egestas nisi volutpat felis ultrices molestie. Integer gravida, eros ut lobortis auctor ornare.</p>
				<p style="font-size:13px;">Vestibulum tempus leo <a style="color:#17488A;" href="%3C%=%20site%20%%3E">Etiam varius volutpat enim, ac varius dui malesuada eget</a>.</p>
				<p style="text-align:center;padding:30px 0;">
					<a href="%3C%=%20site%20%%3E"><img src="/img-emails/370x230.jpg" alt="<%= company %>"></a>
				</p>
				<p>Cras mauris magna, dignissim in blandit ac, pretium vitae lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<ul>
					<li><p><strong>Cras mauris magna:</strong></p><p>Donec elit erat, malesuada ac sollicitudin imperdiet, imperdiet sed leo. Morbi ut odio ante, non ultrices <a href="<%= site %>" style="color: #17488A;font-weight: normal;text-decoration: underline;">10 fringilla ac luctus in</a>. Nulla in orci in lacus gravida posuere. Sed ligula odio, vestibulum vel auctor sit amet, luctus at leo.</p></li>
					<li><p><strong>Lorem ipsum dolor:</strong></p><p>Morbi ut odio ante, non ultrices nibh. Nulla in orci in lacus gravida posuere. Sed ligula odio, vestibulum vel auctor sit amet, luctus at leo. Suspendisse id nulla est, in scelerisque dolor. Aenean gravida imperdiet sapien.</p></li>
					<li><p><strong>Nunc interdum nibh:</strong></p><p>Nulla in orci in lacus gravida posuere. Proin sit amet dui metus, vitae imperdiet mauris. Aenean gravida imperdiet sapien, et aliquam urna iaculis at. Mauris rutrum imperdiet <a href="<%= site %>" style="color: #17488A;font-weight: normal;text-decoration: underline;">fringilla ac luctus in</a> ut tempus.</p></li>
				</ul>
				<p><span style="font-size:11px;"><em>Morbi ut odio ante, non ultrices nibh <a href="<%= site %>" style="color: #17488A;font-weight: normal;text-decoration: underline;">that</a> and id nulla est.</em></span></p>
				
				<p><a href="%3C%=%20site%20%%3E" style="color:#17488A;">Clique aqui e baixe nosso eBook gratuitamente!</a></p>
				<p>Bom proveito!</p>
				<p><strong><%= company %></strong></p>
			</div>
			<div>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>
							<div style="text-align: left;padding:30px 0 10px 0;">
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/facebook.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/twitter.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/pinterest.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/tumblr.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/google-plus.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/linkedin.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/youtube.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/vimeo.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/flickr.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/picasa.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/rss.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/wordpress.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/e-mail.gif" width="32" height="32" alt=" " border="0" />
								</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
	
</table>

