<!DOCTYPE html>
<html lang="en">
<head>
<%= render :partial => 'layouts/portfolio/header' %>
<%= yield :head %>
</head>
<body data-no-turbolink>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <%= render :partial => 'portfolio/cover' %>
      </div>
      <div class="col-md-8">
        <%= render :partial => 'portfolio/navbar' %>
        <%= yield :content %>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render :partial => 'layouts/portfolio/footer' %>
  <%= yield :footer %>
</body>
</html>
