<!DOCTYPE html>
<html lang="en">
<head>
<%= render :partial => 'layouts/vangogh/header' %>
<%= yield :head %>
</head>
<body data-no-turbolink>
<%= yield :content %>
<%= yield %>
<%= render :partial => 'layouts/vangogh/footer' %>
<%= yield :footer %>
</body>
</html>
